body{
    background-color: #F0F0F0;
    margin:0;
    padding: 0;
}



.container-fluid a{
    font-family: "Anton";
}
.main-text{
    font-family: "Anton";
}

.menu{
    padding: 0;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";

    width: 100px;
    height: 100px;

    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: 7px solid white;
    color: white;
}

.buttons div:nth-child(1){
    background: #e6563b;
}

.buttons div:nth-child(2){
    background: #eb9d3a;
}

.buttons div:nth-child(3){
    background: #7cb06c;
}

.buttons div:nth-child(4){
    background: #00aba9;
}


.icons span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";
    font-size: 10px;

    width: 18px;
    height: 18px;

    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: black;
}

.icons :nth-child(1){
    background: #e6563b;
}

.icons :nth-child(2){
    background: #eb9d3a;
}

.icons :nth-child(3){
    background: #7cb06c;
}

.icons :nth-child(4){
    background: #00aba9;
}



.project{
    width: 300px;
    margin: .75em;


}


.project img{
    max-width: 100%;
    height: auto;

    padding: 5px;
    background: #e6e6e6;
}

.detail{
    display:flex;
    justify-content: space-between;

}

.news{
    display: flex;
    font-family: "Anton";
    margin: 1em 0;
}



.news img{
    width: auto;
    height: 70px;

    padding: 3px;
    margin: 3px;
    background: #e6e6e6;
}

.news p{
    font-size: 24px;
    margin-left: 1em;
}


@media screen and (min-width: 100px) {
    .navbar-brand{
        display: none;
    }

    .buttons div{
        margin:1em
    }
}

@media screen and (min-width: 420px)  {
    .navbar-brand{
        display: none;
    }

    .buttons div{
        margin:1.5em;
    }
    .buttons{
        padding: 0 1.5em 0;
    }

    .newsBox{
        display: none;
    }
}

@media screen and (min-width: 492px){
    .navbar-brand{
        display: none;
    }

    .buttons div{
        margin:1.5em;
    }
    .buttons{
        padding: 0 5em 0 5em;
    }

    .newsBox{
        display: none;
    }
}


@media screen and (min-width: 624px) {
    .navbar-brand{
        display: none;
    }

    .newsBox{
         display: none;
     }

    .buttons{
        padding: 0;
    }
}



@media screen and (min-width: 992px)  {
    .navbar-brand{
        display: contents;
    }

    .newsBox{
        display: flex;
        flex-direction: column;
    }

    .buttons{
        padding: 0;
    }
}

/*992px - 1067px*/



